<div class="latest-news">
    <div class="sidebar-header-title" style="font-size:14px;"><span class="e-text-news">What's New</span></div>
    <div  class="focus-news">		
        <marquee onMouseOut="start();" onMouseOver="stop();" direction="up" scrollamount="2">
                                
                    <div class="focus-news-feilds">
                    <p>Upcoming Training Schedule Link..</p>

<p><a href="http://enam.gov.in/web/assest/download/sul/Upcoming_meeting_link_13_Feb_2023.pdf" xss="removed"><b>Click Here..</b></a></p>

<p> </p>

<p> </p>					
</div>