{% extends 'agri_mart/home.html' %}
    {% block content %}<br>
    <img src="https://images.squarespace-cdn.com/content/v1/6209fc508f791e729abec7d0/18641903-a848-4a3a-a0a3-c9e2ddaa15c4/02-lottie-tick-01-instant-2.gif" alt="Computer man" style="margin-left:25%; width:50%; height:50%;">
    <p style="color: green; font-weight: bolder; text-align: center;">You accepted the order</p>
    {% endblock %}