{% extends 'agri_mart/bhome.html' %}
  {% block content%}
    <form action=" " method = 'POST'>
    {% csrf_token %}
    <div class="container d-flex flex-row" style="margin-left: 9%;" >
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem; margin-top: 3%;">
                    <div class="card-body">
                        <h5 class="card-title">{{product.pro.prod_name}}</h5>
                        <p class="card-text">This product is 100% organic, grown with Human-made pesticides and fertilizers without use of synthetic chemicals.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Price(per quintal):{{product.price}}</li>
                      <li class="list-group-item">Quantity_available:{{product.quantity_available}} Quintals</li>
                      <li class="list-group-item">Discount : {{product.discount}} %</li>
                      <li class="list-group-item">Shelf-time : {{product.shelf_time}} days</li>
                    </ul>
                    <div class="card-body">
                        <button style="border: none;"><a href="{% url 'addtocart' product.id %}" class="card-link" style="color: green;">BUY</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </form> 
    {% endblock content%}
  