{% extends 'agri_mart/bhome.html' %}
  {% block content%}
      <h1>CART</h1>

          <h3>Username : {{user.username}}</h3>
          <a href="{% url 'bhome' %}"style="border-color: white; color: green; margin-left: 85%; "><button style="font-weight: bold; color: green; border: none;">ADDMORE</button></a><br>
      <br><table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">ITEM_NAME</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Discount</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody>
          {% for product in cart %}
            <tr>
              <td>{{product.item.pro.prod_name}}</td>
              <td><a href="{%url 'increment' product.id %}"><button>+</button></a>&nbsp;{{product.quantity_required}}&nbsp;<a href="{%url 'decrement' product.id %}"><button>-</button></a><br></td>
              <td>Rs.{{product.item.price}}</td>
              <td>{{product.item.discount}}%</td>
              <td>Rs.{{product.subtotal}}</td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
      <hr>
      <h2><td colspan="2" style="font-weight: bolder; font-size: xx-large;">FINALPRICE :</td>
      <td style="font-weight: bolder; font-size: xx-large;">Rs.{{finalprice}}</td></h2>
      <a href="{% url 'checkout' %}"><button bg-secondary style="border-color: white; color: green; margin-left: 85%; font-weight: bolder;">Check Out</button></a><br><br>
  {% endblock content%}
    