{% extends 'agri_mart/home.html' %}
    {% block content %}
        <h1>Shipping Details</h1>
        <form action="{% url 'checkout' %}" method="POST" >
            {% csrf_token %}
            <label for="firstname" placeholder="{{username}}">&nbsp;Firstname:</label>
            <input type="text" id="firstname" name="firstname" placeholder="Enter your firstname">
            <label for="lastname">&nbsp;Lastname:</label>
            <input type="text" id="lastname" name="lastname" placeholder="Enter your lastname"><br><br>
            <label for="contact_number">&nbsp;Contact Number:</label>
            <input type="text" id="contact_number" name="contact_number" placeholder="Enter your Contact No."><br><br>
            <h3>Shipping Address</h3>
            <label for="H.No">&nbsp;H.No:</label>
            <input type="text" id="H.No" name="H.No" placeholder="Enter your House no."><br><br>
            <label for="landmark">&nbsp;Landmark:</label>
            <input type="text" id="landmark" name="landmark" placeholder="Enter your Landmark"><br><br>
            <label for="city">&nbsp;City:</label>
            <input type="text" id="city" name="city" placeholder="Enter your City"><br><br>
            <label for="state">&nbsp;State:</label>
            <input type="text" id="state" name="state" placeholder="Enter your State"><br><br>
            <label for="pincode">&nbsp;Pincode:</label>
            <input type="text" id="pincode" name="pincode" placeholder="Enter your Pincode"><br><br>
            <h2>Payment Options</h2>
            <label for="upi">&nbsp;&nbsp;&nbsp;&nbsp;UPI</label>
            <input type="radio" id="upi" name="payment">
            <label for="card">&nbsp;&nbsp;&nbsp;&nbsp;Credit/Debit Card</label>
            <input type="radio" id="card" name="payment">
            <label for="cash">&nbsp;&nbsp;&nbsp;&nbsp;cash</label>
            <input type="radio" id="cash" name="payment"><br>
            <input type="submit" value="submit">
        </form>
    {% endblock %}