<!doctype html>
{ % load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <style>
      footer{
        text-decoration-color: white;
        padding-left: 4%;
      }
      .quick-link-list li{
        background-color: rgb(187, 185, 185);
        margin-bottom: 1px;
        margin-left: 1px;
      }

    </style>
    <link rel="icon" href="/static/prod_images/prod_images/applegrp.jpg"/><title>{% block title %}AgriMart{% endblock title %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-success fixed-top" style="font-weight: bolder;">
        <img src="https://enam.gov.in/web//assest/images/fpo-slider/home.png" alt="" style="height :40px; width: 40px;"><a class="navbar-brand" href="#" style="color:white;">AgriMart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}" style="color:white;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="http://127.0.0.1:8000/agrimart/products/1">Fruits</a>
                <a class="dropdown-item" href="http://127.0.0.1:8000/agrimart/products/2">Vegetables</a>
                <a class="dropdown-item" href="http://127.0.0.1:8000/agrimart/products/3">OilSeeds</a>
                <a class="dropdown-item" href="http://127.0.0.1:8000/agrimart/products/4">Food Grains</a>
                <a class="dropdown-item" href="http://127.0.0.1:8000/agrimart/products/5">Spices</a>

                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div> -->
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">Profile</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'profile'  %}">View Profile</a> 
                  {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                  {% endif %}

                  <!-- <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div> -->
              </li>
              <!-- <li class="nav-item active"> -->
                <!-- <a class="nav-link" href="http://127.0.0.1:8000/agrimart/logout" style="color:white;">Logout<span class="sr-only">(current)</span></a> -->
              <!-- </li> -->
  
          </ul>
          <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search for product" aria-label="Search" name="searched">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <br><br>
    {% block content %}
    <div class="container-fluid" style=" width:100%; background-color:#e6e6e6; padding:10px 0% 12px 0%; ">
      <div class="container" style="margin-left: 1px; margin-right: 5px; height: 100%;">
        <div class="row">  
          <div class="quick-links-btn-sec " style="width: 250px;"> 
            <div class="quick-link-list"><br>
              {% for cat in category %}
              <div class="quick-links-btn-sec pull-left"> 
                <div class="quick-link-list">
                  <ul type="none" style="padding-left: 2px;">
                    <li>
                      <p><a href="{% url 'products' cat.id %}"><img alt="" src="https://enam.gov.in/web/assest/images/new-theme/icon/img2.png" xss="removed">{{cat.cat_name}}</a></p>
                    </li>
                  </ul>
                </div>
              </div>
              {% endfor %}
              
            </div>
          </div>
          <div id="myCarousel" class="carousel slide head-slider pull-left" data-ride="carousel" style="padding-right: 10px; margin-left: 10px; margin-right: 0%; height: 250px; width: 500px;">
          <!-- <span id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" > -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img style="height: 300px; width: 900px;" src="https://businesswales.gov.wales/farmingconnect/sites/farmingconnect/files/styles/wysiwyg_sm/public/TA%20climate%2029.04.20.jpg?itok=p-Y4Y3qb" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img style="height: 300px; width: 900px;" src="https://i.ytimg.com/vi/DzS8SC4tglA/maxresdefault.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img style="height: 300px; width: 900px;" src="https://media.licdn.com/dms/image/C561BAQGVfCjmY80ncQ/company-background_10000/0/1602053568959?e=1678474800&v=beta&t=9pFo0-bpSxV6KkdAthtlYdeOzu5MXIyTq7gK9Yt2lJ0"" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img style="height: 300px; width: 900px;" src="https://businesswales.gov.wales/farmingconnect/sites/farmingconnect/files/styles/wysiwyg_sm/public/TA%20climate%2029.04.20.jpg?itok=p-Y4Y3qb" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img style="height: 300px; width: 900px;" src="https://thumbs.dreamstime.com/b/food-production-farming-agriculture-collage-images-presenting-tomato-patato-bell-pepper-lettuce-onion-corn-maize-vegetables-130361095.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>          
          <div class="latest-news" style="padding-left: 100px; height:200px; width: 350px; ">
            <div class="sidebar-header-title" style="font-size:14px;"><span class="e-text-news"><h2 style="text-align: center; color: rgb(22, 196, 22);">PreOrders</h2></span></div>
              <div  class="focus-news">		
                <div class="overflow-auto" style="height: 250px; width: 400px;">
                    {% for object in preorder %}          
                      <div class="focus-news-feilds">
                        <p style="text-align: center;">{{object.user.username}} requires {{object.quantity_required}} amount of {{object.pre_prod.prod_name}} before {{object.sche_time}} and is ready to pay {{object.advance}} in advance<a href="{% url 'notificationview' object.id %}" xss="removed"><b>Click Here..</b></a> </p>
                      </div>
                    {% endfor %}
                  </div>
              </div>
            </div>
          </div>
        </div><br><br>
      </div>
    </div>
    <div class="container">
        <marquee style="color:block;">AgriMart welcomes all the FPOs &amp; requests to register for trading on AgriMart to avail benefits from the transparent system. Kindly reach us on our Toll-Free No.1800 270 0224 &nbsp;&nbsp; | &nbsp;&nbsp;    सभी कृषि उत्पादक संगठनो का पंजीकरण एवं पारदर्शी प्रणाली द्वारा व्यापार करने के लिए स्वागत करता है। अतिरिक्त जानकारी के लिए कृपया हमारे  टोल-फ्री नंबर 1800 270 0224 पर संपर्क करें  &nbsp; |</marquee>
    </div>
  <div class="container">
    <div class="row">
    
    <div class="about-sec col-lg-5 col-sm-5 wow fadeInUp" data-wow-delay="0.5s">
      <div style="background-color: green;" class="sidebar-header-title"><span class="e-text">AgriMart Overview</span></div>
        <p class="h-text-msg">National Agriculture Market (AgriMart) is a pan-India electronic trading portal which networks the existing APMC mandis to create a unified national market for agricultural commodities.</p>
        
        <p class="h-text-msg">Small Farmers Agribusiness Consortium (SFAC) is the lead agency for implementing eNAM under the aegis of Ministry of Agriculture and Farmers’ Welfare, Government of India.</p>
        
        <p style="background-color: green;"><strong >VISION</strong></p>
        <p>To promote uniformity in agriculture marketing by
        streamlining of procedures across the integrated markets, removing information asymmetry between buyers and sellers and promoting real time price discovery based
        on actual demand and supply.</p>
        
        <p style="margin-bottom:0px; background-color: green;"><strong>MISSION</strong></p>
        
        <p>Integration of APMCs across the country through a common online market platform to facilitate pan-India trade in agriculture commodities, providing better price discovery through transparent auction process based on quality of produce along with timely online payment.</p>
    </div>
  
        <div class="image">
          <img style="height: 500px; width: 500px; margin-left: 100px;" src="https://en-media.thebetterindia.com/uploads/2022/08/fruit_map_of_india_11zon-1661858435.jpg?compress=true&quality=80&w=768&dpr=1.0" alt="">
        </div>
  
     
      </div>
  
  </div>
    {% endblock content %}
    <footer class="mt-auto bg-success " style=" background-repeat: repeat; background-attachment: scroll; background-position: 0% 0%; ">
      <div class="master-footer-wrap">
        <div class="row" >
          <div class="col-3">
            <h5><a href="" style="color: white;">Categories</a></h5>
            <a href="http://127.0.0.1:8000/agrimart/products/4" style="color: white;">Food Grains</a><br>
            <a href="http://127.0.0.1:8000/agrimart/products/1" style="color: white;">Fruits</a><br>
            <a href="http://127.0.0.1:8000/agrimart/products/5" style="color: white;">Spices</a><br>
            <a href="http://127.0.0.1:8000/agrimart/products/2" style="color: white;">Vegetables</a><br>
            <a href="http://127.0.0.1:8000/agrimart/products/3" style="color: white;">Oilseeds</a><br>
          </div>
          <div class="col-3">
            <h5><a href="" style="color: white;">Know us Better</a></h5>
            <a href="" style="color: white;">About us</a><br>
            <a href="" style="color: white;">Why AgriMart</a><br>
            <a href="" style="color: white;">Careers</a><br>
            <a href="" style="color: white;">Contact us</a><br>
          </div>
          <div class="col-3">
            <h5><a href="" style="color: white;">Our Policies</a></h5>
            <a href="" style="color: white;">Privacy policy</a><br>
            <a href="" style="color: white;">Shipping/Delivery</a><br>
            <a href="" style="color: white;">FAQ's</a><br>
            <a href="" style="color: white;">Cancellation policy</a><br>
          </div>
          <div class="col-3">
            <h5><a href="" style="color: white;">Services</a></h5>
            <a href="login" style="color: white;">Sell on AgriMart</a><br>
            <a href="" style="color: white;">Best services</a><br>
            <a href="login" style="color: white;">Customer Login</a><br>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </footer>
      

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
  
</html>