{% extends "agri_mart/fhome.html" %}
{% block content%}
<br>
<table>
<thead> 
    <tr> 
        Username : {{user.username}}
        <a href="home"style="border-color: white; color: green; margin-left: 85%; font-weight: bolder;"><button>ADDMORE</button></a>
    </tr>
</thead>
</table>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">ITEM_NAME</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Shelftime</th>
        <th scope="col">Discount</th>
      </tr>
    </thead>
    <tbody>
    {% for each in ownproducts %}
      <tr>
        <td>{{each.pro.prod_name}}</td>
        <td>{{each.quantity_available}}</td>
        <td>{{each.price}}</td>
        <td>{{each.shelf_time}}</td>
        <td>{{each.discount}}</td>
        <td><a href="{% url 'delete' each.id %}"><button>DELETE</button></a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>
<h1>Requested PreOrders</h1>
{% for object in preorders %}
<p style="text-align: center;">{{object.user.username}} requires {{object.quantity_required}} amount of {{object.pre_prod.prod_name}} before {{object.sche_time}} and is ready to pay {{object.advance}} in advance<a href="{% url 'notificationview' object.id %}" xss="removed"><b>Click Here..</b></a> </p>
{% endfor %}
<h3>Accepted Preorders</h3>
{% for order in acceptedorders %}
<li>Accepted Preorder of {{order.pre_prod.prod_name}} of {{order.quantity_required}} and have to deliver it by {{order.sche_time}}</li>
{% endfor %}

{% endblock %}

