{% extends 'agri_mart/bhome.html' %}
    {% block content%}
        <div class="latest-news">
        <div class="sidebar-header-title" style="font-size:14px;"><span class="e-text-news">PreOrders</span></div>
        <div  class="focus-news">		
            <marquee onMouseOut="start();" onMouseOver="stop();" direction="up" scrollamount="3">
                {% for object in preorder %}          
                        <div class="focus-news-feilds">
                            <p>{{object.user.username}} requires {{object.quantity_required}} Quintals of {{object.pre_prod.prod_name}} before {{object.sche_time}} and is ready to pay {{object.advance}} in advance<a href="{% url 'delnotification' object.id %}">Delete</a></p>
                {% endfor %}
                        </div>
            </marquee>
        <p></p>
        <p></p>					
        </div>
        </div>
    {% endblock content%}
  