{% extends 'agri_mart/fhome.html' %}
{% block content%}
      <h1>PREORDERS</h1>
      <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">ITEM_NAME</th>
              <th scope="col">Quantity_required</th>
              <th scope="col">Scheduled Time</th>
              <th scope="col">Advance</th>
            </tr>
          </thead>
          <tbody>
          {% for notification  in notification %}
            <tr>
              <td>{{notification.pre_prod.prod_name}}</td>
              <td>{{notification.quantity_required}}</td>
              <td>{{notification.sche_time}}</td>
              <td>{{notification.advance}}</td>
              <td> <a href="{% url 'acceptorders' %}"><button>ACCEPT</button></a>&nbsp; <a href="{% url 'home' %}"><button>HOME</button></a></td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
      <hr>
      {% endblock content%}
    