{% extends 'agri_mart/home.html' %}
    {% block content %}<br>
    <img src="https://thumbs.gfycat.com/GracefulImpishFlea-size_restricted.gif" alt="Computer man" style="margin-left:25%; width:50%; height:50%;">
    <p style="color: green; font-weight: bolder;; text-align: center;">Your Order will be deliver Soon...</p>
    {% endblock %}