{% extends 'agri_mart/bhome.html' %}
  {% block content%}
    <h2>Preorder</h2>
    <form action="" method = 'POST'>
    {% csrf_token %}
    <h1 style="text-align: center;">{{product.cat_name.cat_name}}</h1>
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">ITEM</th>
            <th scope="col">Quantity (in quintals)</th>
            <th scope="col">Advance</th>
            <th scope="col">Duedate</th>
            <th scope ="col"></th>
          </tr>
        </thead>
        {% for product in order %}
        <tbody>
          <tr>
            <td>{{product.prod_name}}</td>
            <td><input type="text" name = 'quantity'></td>
            <td><input type="text" name = 'advance'></td>
            <td><input type="date" name = 'duedate'></td>
            <td><button type="submit" class="btn btn-success btn-block">ORDER</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>

    {% endblock content%}
  