{% extends 'agri_mart/home.html' %}
    {% block content%}
        {% if searched %}
            <h2>Results for {{searched}}...</h2><br>
    <div class="container d-flex flex-row" style="margin-left: 9%;" >
        <div class="row">
            {% for product in products %}
            <div class="col-md-6">
                <div class="card" style="width: 18rem; margin-top: 3%;">
                    <img src="{{product.prod_image.url}}" class="card-img-top" style="height: 250px; width: 286px;">
                    <div class="card-body">
                        <h5 class="card-title">{{product.prod_name}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-body">
                        
                        <button style="border: none;"><a href="{% url 'buyproduct' product.id %}" style="color: green;" class="card-link">View</a></button>
                        <button style="border: none;"><a href="{% url 'preorder' product.id %}" style="color: green;" class="card-link">PREORDER</a></button>
                        <button style="border: none;"><a href="{% url 'fproductdetails' product.id %}" style="color: green;" class="card-link">Upload</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
        {% endif %}
    {% endblock %}