{% extends "agri_mart/fhome.html" %}
  {% block content%}
  <br>
  <h5>Username : {{user.username}}</h5>
  <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">ITEM_NAME</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Shelftime</th>
          <th scope="col">Discount</th>
        </tr>
      </thead>
      <tbody>
      {% for product in productsadded %}
        <tr>
          <td>{{product.pro.prod_name}}</td>
          <td>{{product.quantity_available}}</td>
          <td>{{product.price}}</td>
          <td>{{product.shelf_time}}</td>
          <td>{{product.discount}}</td>
          <td><a href="{% url 'delete' product.id %}"><button>DELETE</button></a></td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
  {% endblock %}
  
  